/*
  img.media{
    max-width: 6%;
    height: 6%;
  } 
*/


  img.media{
    height: 2.3em;
    width: 2.3em;
  } 

  button.button {
    background: none;
    border-top: none;
    outline: none;
    border-right: none;
    border-left: none;
    border-bottom: #02274a 1px solid;
    padding: 0 0 3px 0;
    font-size: 16px;
    cursor: pointer;
  }
  button.button:hover {
    border-bottom: #a99567 1px solid;
    color: #a99567;
  }