/*
  img.media{
    max-width: 6%;
    height: 6%;
  } 
*/

.formm{
  width:162.75px;
  height:78px;
}

.formm1{
  width:10%;
}

.formm2{
  width:45%
}

.button-main{
  display: block;
  font-size: 18px;
  font-family: sans-serif;
  text-decoration: none;
  background-color: #0769B2 !important;
  border: 2px solid #0769B2 !important;
  letter-spacing: 2px;
  text-align: center;
  position: relative;
  transition: all .35s;
}

.button-main span{
  position: relative;
  color: white;
  z-index: 2;
}

.button-main:after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 100%;
  background: #00AF36 !important;
  transition: all .35s;
}

.button-main:hover{
  border: 2px solid #00AF36 !important;
  color: #fff !important;
}

.button-main:hover:after{
  width: 100%;
}

  /*

color:#FDC280;
color:#FED3A4;
color:#A9D791;
color:#BCDFA9;
color:#CBB4F5;
*/