
.logoHeader{
    height: 80px;

}

.headerlink{
	text-decoration: none !important;
	color: inherit !important;
}

.headerlinkActivated{
	text-decoration: none !important;
	color: #00AF36 !important;
	cursor: pointer !important;
}

.headerlink:hover{
	text-decoration: none !important;
	color: #00AF36 !important;
	cursor: pointer !important;
}

.nav-gradiente{
    background: rgb(255,255,255);
background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.6) 90%, rgba(255,255,255,0) 100%);
}

.nav-gradienteB{
    background-color: white;
}


.footerFont{
	font-size: 12px !important;
}

.footeralign{
	padding-left: 18em !important;
	margin-top:2em !important;
}

.marginFooterTxt{
	margin-left: 4.7rem;
}

.marginCol2{
	margin-right: 2rem;
}
