.fondoBody{
    background:white;
    padding-top: 8.5em;
}


.contenido-principal{
    background-image: url(/img/manchas/Group0446.png) !important;
    padding-top:8.5em;   
}


.seccion2{
    background-image: url(../img/vectores/Mancha\ Por\ que.png);
    background-size: contain;
    background-position: center;
}


.fondo1{
    background-image: url(../img/vectores/Group\ 22.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.fondo2{
    background-image: url(../img/vectores/path1964.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.fondo3{
    background-image: url(../img/vectores/path2754.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.seccion3{
    background-image: url(../img/vectores/path2496.png), url(../img/vectores/2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left, right;

  
}

.seccion4{
    background-image: url(../img/vectores/path514.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

  
}

.footerFondo{
    background:#FED3A4;
}

.fondoSearch{
    background: #f8f9fa;
}

.pesoletra{
    font-weight: 900;
}



.seccionVerde{
    background: #A9D791;
}

.seccionAzul{
    background: #0769B2 ;
}


.maparin{
    display: block;
	margin: auto;
    margin-bottom: 25px;
	width:65%;
	height:450px;
    padding-top: 25px;
}

.shadowself{
    box-shadow: 0 0.5rem 1rem rgb(4, 10, 3,.5) !important;
}


.pre-loader {
    background: #fff;
    background-position: center center;
    background-size: 13%;
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 12345;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }
  .pre-loader .loader-logo {
    padding-bottom: 15px;
  }
  .pre-loader .loader-progress {
    height: 8px;
    border-radius: 15px;
    max-width: 200px;
    margin: 0 auto;
    display: block;
    background: #ecf0f4;
    overflow: hidden;
  }
  .pre-loader .bar {
    width: 0%;
    height: 8px;
    display: block;
    background: #1b00ff;
  }
  .pre-loader .percent {
    text-align: center;
    font-size: 24px;
    display: none;
  }
  .pre-loader .loading-text {
    text-align: center;
    font-size: 18px;
    font-weight: 500;
    padding-top: 15px;
  }
  



/*AZUL #0769B2 !important;*/
/*VERDE #00AF36 !important;*/
