.fondoBody{
    background:white;
    padding-top: 8.5em;
}


.contenido-principal{
    background-image: url(/img/manchas/Group0446.png) !important;
    padding-top:8.5em;   
}


.seccion2{
    background-image: url(../img/vectores/Mancha\ Por\ que.png);
    background-size: contain;
    background-position: center;
}


.fondo1{
    background-image: url(../img/vectores/Group\ 22.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.fondo2{
    background-image: url(../img/vectores/path1964.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}


.fondo3{
    background-image: url(../img/vectores/path2754.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.seccion3{
    background-image: url(../img/vectores/path2496.png), url(../img/vectores/2.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left, right;

  
}

.seccion4{
    background-image: url(../img/vectores/path514.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;

  
}

.footerFondo{
    background:#FED3A4;
}

.fondoSearch{
    background: #f8f9fa;
}

.pesoletra{
    font-weight: 900;
}



.seccionVerde{
    background: #A9D791;
}

.seccionAzul{
    background: #0769B2 ;
}


.maparin{
    display: block;
	margin: auto;
    margin-bottom: 25px;
	width:65%;
	height:450px;
    padding-top: 25px;
}




/*AZUL #0769B2 !important;*/
/*VERDE #00AF36 !important;*/
