
.color-circulo:hover{
    opacity: .7;
    
}

img.vectores-item{
    height: 1em;
}

img.background-splat{
    position: absolute;
    top: auto;
    left: auto;
    z-index: -1;
    height: 100%;
}

.colors-items:hover{
    border: 2px solid #0769B2;
}

.advertencia{
    background-color: #FF6A3D;
    border-radius: .5em;
    transition: .3s;
}

.advertencia:hover{
    color: black !important;
    background-color: #ed6339;
    color: #ffffff !important;
}

.fondo-naranja{
    background-color: #FF6A3D;
}
